/* Overrides */
.roulette-pro-graceful-lines-design-wrapper-overrides {
  padding: 33px 0 82px;
}

/* Top */
.roulette-pro-graceful-lines-design-top {
  position: absolute;
  top: 0;
  left: 50%;
  left: calc(50% - 6px);
  transform: translateX(-50%);
  width: 354px;
  height: 30px;
  background-image: url("./images/graceful-lines-design-top.png");
  background-position: center top;
  background-repeat: no-repeat;
}

.roulette-pro-graceful-lines-design-top.down {
  top: auto;
  bottom: 0;
  transform: translateX(-50%) scale(1, -1);
}

/* Bottom */
.roulette-pro-graceful-lines-design-bottom-line {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 408px;
  height: 80px;
  background-image: url("./images/graceful-lines-design-bottom.png");
  background-position: center bottom;
  background-repeat: no-repeat;
}

.roulette-pro-graceful-lines-design-bottom-left-line, .roulette-pro-graceful-lines-design-bottom-right-line {
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 480px;
  height: 7px;
  background-image: url("./images/graceful-lines-design-side-line.png");
  background-position: right center;
  background-repeat: no-repeat;
}

.roulette-pro-graceful-lines-design-bottom-left-line {
  right: 50%;
  left: auto;
  margin-right: 199px;
}

.roulette-pro-graceful-lines-design-bottom-right-line {
  left: 50%;
  bottom: 0;
  margin-left: 199px;
  transform: rotate(180deg);
}

/* Prize item */
.roulette-pro-graceful-lines-prize-item {
  position: relative;
  text-align: center;
}

.roulette-pro-graceful-lines-prize-item:first-child::before, .roulette-pro-graceful-lines-prize-item::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  width: 5px;
  height: 100%;
  background: url("./images/graceful-lines-design-roulette-divider.png") center center no-repeat;
  background-size: 100% auto;
}

.roulette-pro-graceful-lines-prize-item::before {
  margin-left: -2px;
  left: 0;
}

.roulette-pro-graceful-lines-prize-item::after {
  margin-right: 2px;
  right: 0;
}

.roulette-pro-graceful-lines-prize-item-content {
  height: 100%;
}

.roulette-pro-graceful-lines-prize-item-content-image {
  max-width: 100%;
  max-height: 100%;
}

.roulette-pro-graceful-lines-prize-item-content-text {
  margin: 0;
  word-break: break-word;
  font-weight: 700;
  font-size: 21px;
}
