.prize-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.prize-image {
  width: 100px;
}

.prize-content {
  text-align: center;
}

.prize-text {
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
}

.super-prize {
  background: red;
  color: #fff;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: bold;
}