body {
  font-family: system-ui, sans-serif;
  background: #1f1f1f url("./images/background.jpeg");
}

/* Roulette */
.roulette {
  overflow: hidden;
  margin: 0 auto;
}

.roulette.horizontal {
  max-width: 1280px;
  border-radius: 30px;
}

@media (max-width: 1280px) {
  .roulette.horizontal {
    border-radius: 0px;
  }
}

.roulette.vertical {
  width: 300px;
  height: 80vh;
}

.roulette.vertical .roulette-pro-wrapper-additional-styles {
  padding: 0;
}

.roulette-pro-wrapper-additional-styles {
  padding: 33px 0 82px;
  background: rgba(0, 0, 0, 0.6);
  min-height: 265px;
}

@media (max-width: 600px) {
  .roulette {
    width: 100%;
  }
}
/* End Roulette */

.button-wrapper {
  display: flex;
  position: relative;
  z-index: 2;
  margin-top: 25px;
}

.button-wrapper::after {
  content: "";
  width: 377px;
  height: 160px;
  background: url("./images/button-background.png") center center no-repeat;
  background-size: 100% auto;
  top: 50%;
  /* left: 50%; */
  left: 54%;
  margin: -80px 0 0 -188px;
  position: absolute;
  z-index: -1;
}

/* @media (max-width: 600px) {
  .button-wrapper::after {
    width: 90%;
  }
} */

.spin-button {
  position: relative;
  z-index: 2;
  width: 350px;
  font-size: 21px;
  border-radius: 41px;
  padding: 24px 35px;
  box-shadow: 0px 2px 0 2px rgba(155, 106, 0, 0.70);
  color: #000;
  transition: all 0.3s ease-out;
  background: linear-gradient(to bottom, #ffc12f 0%, #ffe324 50%, #ffc12f 100%);
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  border: none;
}

.spin-button:hover::after {
  opacity: 1;
}

.spin-button::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.3s ease-out;
  border-radius: inherit;
}

.spin-button::after {
  background: linear-gradient(to bottom, #ffef85 0%, #f8d40a 50%, #ffef85 100%);
  z-index: -2;
}

.gray-block {
  background: linear-gradient(to bottom, #202020 65%, rgba(7,7,7,0) 92%, rgba(0,0,0,0) 99%);
  max-width: 398px;
  border-radius: 38px;
  padding: 18px 13px 5px;
  margin: 0 auto;
  min-height: 70px;
  box-sizing: border-box;
}

.roulette-actions {
  position: relative;
  z-index: 3;
  margin: -48px 0 5px;
  text-align: center;
  min-height: 160px;
  overflow: hidden;
}

.roulette-actions.down {
  margin: 0;
}

@media (max-width: 440px) {
  .left-line, .right-line {
    display: none;
  }

  .gray-block {
    border-radius: 15px;
  }
}

/* Code */
.pre-element {
  background-color: #111;
  border-left: 5px solid #ffe124;
  border-right: 5px solid #ffe124;
  border-top: 1px solid #ffe124;
  border-bottom: 1px solid #ffe124;
  padding: 0;
  margin: 80px auto;
  max-width: 1280px;
  position: relative;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}

.pre-element-code {
  font-size: 1.05rem;
  color: #fff;
}

.pre-element-code::before, .pre-element-code::after {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffe124;
  position: absolute;
}

.pre-element-code::before {
  content: "</>";
  left: 0.5rem;
  top: 0.25rem;
}

.pre-element-code::after {
  content: "</>";
  right: 0.5rem;
  bottom: 0.25rem;
}

/* Settings */
.settings {
  box-sizing: border-box;
  padding: 0;
  margin: 80px auto;
  max-width: 1280px;
  position: relative;
  background-color: #111;
  color: #fff;
  border: 1px solid #ffe124;
}

.settings-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 600px) {
  .settings-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

.settings-list-item p {
  display: inline-block;
  margin-right: 0.5rem;
}
